<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663291322924-f1nvdshpgi1be8jfhh4ufs88p12qski8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663291322924-f1nvdshpgi1be8jfhh4ufs88p12qski8</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ9LCd7xIF7aq73bg91hL7AKHULfxRyBg</string>
	<key>GCM_SENDER_ID</key>
	<string>663291322924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app247Cinema</string>
	<key>PROJECT_ID</key>
	<string>app247cinema</string>
	<key>STORAGE_BUCKET</key>
	<string>app247cinema.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663291322924:ios:d7e2f7ac5336a70b126789</string>
</dict>
</plist>